# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe


*.json



*.ods
*.png

# Metadata
*.aliases
*.lvlps
.cache/


*.gz

# Folders
data/
saved_model/
save_exp/
__pycache__/
*.pyc
